In [25]:

import pandas as pd 

df = pd.read_csv('./whishlists.csv', index_col="url")

In [14]:
df.astype({'last_seen': 'object'})
for i,j in df.iterrows():
    print(df.at[i,"last_seen"

float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [21]:
df

                                                          name
url
https: // www.amazon.com.mx/hz/wishlist/ls/EB76...  WantToRead